html { 
  /* I googled how to do this because I thought it looked cheap without it*/
  scroll-behavior: smooth;
}

body {
  background-image: url('charpoly.png');
  max-height: 100%;
  max-width: 100%;
  background-attachment: fixed;  /*I also googled how to do this for the same reason.*/
}

header {
  background-color: rgb(0, 0, 0, 0.45); /*Researched opacity*/
  color: rgb(34, 186, 206, 0.75);
  margin: 50px -40px 20px -40px;
  padding: 0px;
  font-family: 'Nova Flat', 'Lucida Sans', serif;
  font-size: 22px;
  line-height: 3px;
}

.header-zones { 
  /*This is the styling for the different elements in the header. I wanted them to be side-by-side. I honestly am not sure about this one*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

header nav {
  text-align: right;
  padding: 0px 66px 10px 0px;
  font-size: 20px;
}

/*Link styling. I chose not to change :visited.*/
a:link    { color: rgb(255, 255, 255);}
a:visited { color: rgb(255, 255, 255);}
a:hover   { color: rgb(73, 124, 126);}
a:active  { color: rgb(20, 110, 228);}

hr {
  height: 2px;
  background-color: rgba(0, 255, 255, 0.3);
  color: aqua;
  opacity: 0.4;
  margin: 100px;
}

main {
  font-family:'Allerta Stencil', 'Arial Narrow', sans-serif;
  font-size: 28px;
  color: rgb(237, 247, 248);
}

h3 {
  font-size: 48px;
  text-align: center;
  padding: 15px;
  margin: 10px;
}

.wrapper {
  /*To contain individual elements*/
  background-image: url('bluepoly.png');
  max-height: 100%;
  max-width: 100%;
  margin: 50px;
  padding: 25px;
  opacity: 0.75;
  border-radius: 5px;
}

.wrapper:hover {
  /*To engage the visitor in a subtle way*/
  opacity: 0.90;
}

main img:hover {
  /*I just wanted to add this for visual interest*/
  opacity: .5;
}

footer {
  /*I wanted to echo the header to tie it together so I used the same font, background aesthetic, and colors*/
  background-color: rgb(0, 0, 0, 0.85);
  margin: -22px;
  font-family: 'Nova Flat', 'Lucida Sans', serif;
  font-size: 18px;
  text-align: right;
  color: rgba(0, 255, 255, 0.6);
  padding: 0px 36px 10px 0px;
}
